*/node_modules
**/.env
*/dist
*/.strapi
*/.tmp

# Ignore Git directory and files
.git
.gitignore

# Ignore npm debug logs
npm-debug.log

# Ignore local development files
*.local

# Ignore IDE specific files
.vscode
.idea

# Ignore Docker Compose files
docker-compose*.yml